/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Sansita+Swashed:wght@300..900&display=swap');

/* Asterisk wildcard selector: override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generic */
h1, h2, h3 {
    font-family:'Sansita Swashed', sans-serif;
    text-align: center;
}

body {
    font-family: 'Oxygen', sans-serif;
    color: #202020;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #202020;
}

header img {
    float: left;
    width: 30px;
    height: 100%;
    margin: 10px 0 0 10px;
  }

header h1 {
    font-style: italic;
    color: #ffffff;
    text-align: left;
    letter-spacing: 1px;
    padding-top: 6px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#navbar {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 2px;
}

#navbar > li {
    margin: 2em 0;
}

/* Main content */
main {
    background-color: #ffffff;
}

/* Footer */
footer {
    background-color: #ffffff;
}
