/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Sansita+Swashed:wght@300..900&display=swap');

/* Asterisk wildcard selector: override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generic */
h1,
h2,
h3,
h4 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    letter-spacing: 1px;
}

p {
    color: #202020;
    padding: 1rem;
    text-align: center;
}

body {
    font-family: 'Oxygen', sans-serif;
    color: #202020;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    max-width: 15em;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: rgba(255, 255, 255, 0);
    border: 1.5px solid #48C3C5;
    border-radius: 10px;
    padding: 10px 15px;
}

.button:hover,
.button:active {
    color: #202020;
    background-color: rgba(72, 195, 197, 1);
    border: 2px solid #48C3C5;
}

.hidden-heading {
    display: none;
}

ul {
    font-size: 90%;
    line-height: 1.5em;
    color: #48C3C5;
    text-align: left;
    padding: 0.5rem 0 2rem 1rem;
}

/* Header */
header {
    background-color: #202020;
    padding: .5rem 1rem 1rem .5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

header img {
    float: left;
    width: 25px;
    height: auto;
    margin: 0 0.2em;
}

#logo {
    font-family: 'Sansita Swashed', sans-serif;
    font-size: 160%;
    font-style: italic;
    color: #ffffff;
    text-align: left;
    letter-spacing: 1px;
    padding-top: 5px;
    margin: 0 5px;
}

#navbar {
    color: #202020;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 2px;
}

#navbar>li {
    margin: 2em 0;
}

/* Dropdown toggle in navbar */
nav {
    position: absolute;
    background-color: #48C3C5;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/* Nav menu */
#nav-menu:checked~nav {
    display: block;
}

#nav-menu {
    display: none;
}

.nav-menu-toggle {
    font-size: 1.5rem;
    color: #48C3C5;
}

.active {
    border-bottom: 2px solid #202020;
}

/* Main content */
main {
    background-color: #202020;
    /* Main takes up space to push footer down */
    flex: 1 0 auto;
    margin-top: 50px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero image */
#hero {
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
    background-color: #202020;
    color: #ffffff;
    height: 400px;
    width: 100%;
}

#hero-text {
    position: absolute;
    min-height: 80vh;
    bottom: 75px;
    width: 80%;
    padding: 40px 0 0 25px;
}

#hero-cta i {
    font-size: 110%;
    padding-top: 10px;
}

/* Explore 3 options with icons */
#explore {
    background-color: #48C3C5;
    width: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#private-fields>h3,
#forest-walks>h3,
#dog-parks>h3 {
    color: #202020;
    text-align: center;
    line-height: 22px;
    padding: 0 10px;
}

#explore i {
    color: #48C3C5;
    font-size: 120%;
    background-color: rgba(255, 255, 255, .6);
    border: none;
    border-radius: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

/* Map with hotspot links */
#map-ireland {
    background-color: #202020;
    margin: 0 auto;
    width: 100%;
}

#map-ireland img {
    background-color: #202020;
    color: #ffffff;
    width: 100%;
    height: auto;
    padding: 10px;
}

#map-ireland>div {
    text-align: center;
    padding: 15px;
}

#map-cta {
    font-size: 110%;
    line-height: 15px;
}

#map-cta i {
    font-size: 110%;
    padding-top: 10px;
}

/* Explore Page */
#play-field-head,
#tail-trail-head,
#fenced-parks-head {
    background-color: #48C3C5;
    width: 100%;
    height: auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}

#play-field-head h2,
#tail-trail-head h2,
#fenced-parks-head h2 {
    color: #202020;
    text-align: center;
}

#play-field-head i,
#tail-trail-head i,
#fenced-parks-head i {
    font-size: 80%;
}

#play-field {
    background-color: #202020;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

#play-field img {
    width: 250px;
    height: auto;
    padding-bottom: 5px;
}

.play-field-panels {
    padding: 40px 20px;
}

.play-field-panels>h4 {
    font-size: 110%;
}

/* Footer */
footer {
    background-color: #202020;
    margin: 0 auto;
    width: 100%;
}

footer img {
    background-color: #202020;
    color: #ffffff;
    width: 100%;
    height: auto;
}

#insta {
    position: relative;
    max-height: 0;
    bottom: 35px;
    text-align: right;
    padding-right: 25px;
}

#insta i {
    color: #202020;
}

#insta a {
    font-size: 85%;
    font-weight: 600;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

    /* Hero banner section */
    #hero-text h3 {
        font-size: 140%;
        padding-right: 5em;
    }

    /* Explore 3 options with icons */
    #explore {
        display: flex;
        flex-direction: row;
    }

    #explore>div {
        flex: 1;
        padding: 0 15px;
    }

    #private-fields>div {
        order: 1;
    }

    #forest-walks>div {
        align-self: flex-start;
    }

    #dog-parks>div {
        align-self: flex-end;
    }

    /* Map image resize responsive */
    #map-ireland img {
        padding: 1rem 10rem;
    }

    /* Footer social link */
    #insta {
        bottom: 50px;
        padding-right: 35px;
    }
    
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Logo header */
    header img {
        float: left;
        width: 45px;
        height: auto;
        margin: 8px 0.5rem;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Remove navbar toggle in header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        background-color: #202020;
        padding-right: 1rem;
    }

    #navbar {
        display: flex;
    }

    #navbar>li {
        color: #ffffff;
        letter-spacing: 3px;
        padding-left: 1rem;
    }

    .nav-menu-toggle {
        display: none;
    }

    .active {
        border-bottom: 2px solid #48C3C5;
    }

    /* Main body section*/
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 100px;
    }

    /* Hero banner section*/
    #hero {
        height: 600px;
    }

    #hero-text {
        top: 25vh;
        width: 80%;
        margin: 25px;
    }

    #hero-text h3 {
        font-size: 180%;
        padding-right: 5em;
    }

    /* Explore 3 links */
    #explore i:hover {
        color: #48C3C5;
        background-color: #202020;
    }

    /* Map image resize responsive */
    #map-ireland img {
        padding: 1rem 15rem;
    }

    /* Footer social link */
    #insta {
        bottom: 60px;
        padding-right: 35px;
    }

    #insta a {
        font-size: 100%;
    }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

        /* Header navigation items */
    #navbar a:hover{
        border-bottom: 2px solid #48C3C5;
    }

    /* Hero banner section*/
    #hero-text h3 {
        font-size: 200%;
        padding-right: 8em;
    }

    /* Map image resize responsive */
    #map-ireland img {
        padding: 1rem 20rem;
    }

    /* Footer social link */
    #insta {
        bottom: 70px;
        padding-right: 45px;
    }

    #insta a {
        font-size: 110%;
    }

}

/* Screens 1200px and up) */
@media screen and (min-width: 1200px) {

    /* Hero banner section*/
    #hero {
        height: 800px;
    }

    #hero-text h3 {
        font-size: 200%;
        padding-right: 10em;
    }

    /* Map image resize responsive */
    #map-ireland img {
        padding: 1rem 20rem;
    }

}