/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Sansita+Swashed:wght@300..900&display=swap');

/* Asterisk wildcard selector: override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generic */
h1, h2, h3 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    letter-spacing: 1px;
}

body {
    font-family: 'Oxygen', sans-serif;
    color: #202020;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    max-width: 15em;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: rgba(255, 255, 255, 0);
    border: 1.5px solid #48C3C5;
    border-radius: 10px;
    padding: 10px 15px;
}

button:hover, button:active {
    color: #202020;
    background-color: rgba(72, 195, 197, 1);
    border: 2px solid #48C3C5;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #202020;
    padding: .5rem 1rem 1rem .5rem;
    position:fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    float: left;
    width: 20px;
    height: 100%;
    margin: 8px 5px 0 10px;
  }

header h1 {
    font-family:'Sansita Swashed', sans-serif;
    font-size: 160%;
    font-style: italic;
    color: #ffffff;
    text-align: left;
    letter-spacing: 1px;
    padding-top: 5px;
}

#navbar {
    color: #202020;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 2px;
}

#navbar > li {
    margin: 2em 0;
}

.active {
    border-bottom: 2px solid #202020;
}

nav {
    position: absolute;
    background-color: #48C3C5;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/* Nav menu */
#nav-menu:checked~nav {
    display: block;
}

#nav-menu {
    display: none;
}

.nav-menu-toggle {
    font-size: 1.5rem;
    color: #48C3C5;
}

/* Main content */
main {
    background-color: #48C3C5;
    /* Main takes up space to push footer down */
    flex: auto;
    margin-top: 50px;
}

/* Hero image */
#hero {
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    background-color: #202020;
    color: #ffffff;
    height: 400px;
    width: 100%;
}

#hero-text {
    position: absolute;
    min-height: 80vh;
    bottom: 30px;
    width: 80%;
    padding-left: 25px;
}

.hero-cta i {
    font-size: 120%;
}

/* Explore 3 options with icons */
#explore {
    margin: 40px 0;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#private-fields, #forest-walks {
    padding-right: 15px;
}

#private-fields > h3, 
#forest-walks > h3, 
#dog-parks > h3 {
    color: #202020;
    text-align: center;
    line-height: 22px;
}

#explore i {
    color: #48C3C5;
    font-size: 150%;
    background-color: rgba(255, 255, 255, .6);
    border: none;
    border-radius: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

/* Remove style 
#explore hr {
    border: 1px solid #202020;
    border-radius: 2px;
    margin: 10px 0;
} */


/* Map with hotspot links   */ 
#map-ireland {
    background-color: #202020;
    margin: 0 auto;
}
    
#map-ireland img {
    background-color: #202020;
    color: #ffffff;
    width: 100%;
    height: auto;
    padding: 10px;
}

#map-ireland > div {
    text-align: center;
    padding: 15px;
}

.map-cta {
    line-height: 15px;
}

.map-cta i {
    font-size: 110%;
    padding-top: 10px;
}

/* TESTING hotspot links styles
#container {
    background-color: #202020;
    color: #ffffff;
    height: 1000px;
    padding: 20px;
    margin: auto;
}

#container h3 {
    color: #48C3C5;
    text-align: center;
    padding: 10px;
}

.map-hotspot {
    max-width: 550px;
    margin: 50px auto 0 auto;
    position: relative;
}

.map-hotspot img {
    max-width: 100%;
}

.icon {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 2px solid #ffffff;
    background: #48C3C5;
    cursor: pointer;
}

.icon:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%) scale(1,1);
    pointer-events: none;
    content: "";
    display: block;
    width: 26.4px;
    height: 26.4px;
    border-radius: 100%;
    border: 1px solid #48C3C5;
    transition: border-color 1s linear;
    animation: icon-pulse 4s linear infinite;
}

@keyframes icon-pulse {
0%{
    transform: translate(-50%, -50%) scale(1,1);
    opacity: 0;
}

20%{
    transform: translate(-50%, -50%) scale(1.5,1.5);
}

50%{
    transform: translate(-50%, -50%) scale(2,2);
    opacity: 0;
}

100%{
    transform: translate(-50%, -50%) scale(2,2);
    opacity: 0;
}
}

.loc-one {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: -40%;
    right: -23%;
}

.tooltip {
    position: absolute;
    padding: 15px;
    width: 13em;
    height: 7em;
    background-color: #ffffff;
    color: #202020;
    box-shadow: 0 20px 4px rgba(0, 0, 0, .2);
    line-height: 1.5em;
    z-index: -1;
    pointer-events: none;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  */ 



/* Footer */
footer {
    background-color: #202020;
    margin: 0 auto;
}

footer img {
    background-color: #202020;
    color: #ffffff;
    width: 100%;
    height: auto;
}

#insta {
    position: relative;
    max-height: 0;
    bottom: 35px;
    text-align: right;
    padding-right: 15px;
}

#insta i {
    color: #202020;
}

#insta a {
    font-size: 85%;
    font-weight: 600;
}
